<div class="app">
    <mll-header nav-links="ctrl.navigationLinks" home-link="ctrl.homeLink"></mll-header>
    <main class="app__main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <div ui-view="left"></div>
                </div>
                <div class="col-sm-4">
                    <div ui-view="center"></div>
                </div>
                <div class="col-sm-3">
                    <div ui-view="right"></div>
                </div>

                <mll-user-registration-form></mll-user-registration-form>
                <!--<div>-->
                    <!--<mll-music-file-uploader></mll-music-file-uploader>-->
                <!--</div>-->
            </div>

        </div>

        <script src="scripts/modules/registration/registration.module.js"></script>
        <script src="scripts/modules/registration/registration.globals.js"></script>
        <script src="scripts/modules/registration/services/registration.service.js"></script>
        <script src="scripts/modules/registration/components/user-registration-form.controller.js"></script>
        <script src="scripts/modules/registration/components/user-registration-form.directive.js"></script>




    </main>



    <footer class="app__footer">
        <div class="container">
            Northeastern University, 2016
        </div>
    </footer>
</div>