<div class="app">
    <mll-header nav-links="ctrl.navigationLinks" home-link="ctrl.homeLink"></mll-header>
    <main class="app__main">
        <div class="container">
            <div class="row">
                <div>

                    <mll-music-file-uploader></mll-music-file-uploader>

                </div>
            </div>

        </div>


    </main>



    <footer class="app__footer">
        <div class="container">
            Northeastern University, 2016
        </div>
    </footer>
</div>